/**
* @desc modify delicious tagroll, add css here
* @author Per Soderlind - www.soderlind.no
*/

.ps_delicious_tagroll {
	text-align:center; padding:5px;
	overflow:auto;
}
.ps_delicious_tagroll ul { margin:0; padding:0; }
.ps_delicious_tagroll ul  li {
  list-style-type:none; float:left; margin:0 10px; height:25px; font-size: .8em;
}
.ps_delicious_tagroll ul  li a {
	text-decoration:none;
}
.ps_delicious_tagroll ul  li a:hover {
	text-decoration:underline;
}